# B2B Courier Charge Accuracy Analysis using Machine Learning

This notebook implements a machine learning-based approach to analyze and predict
B2B courier charges. The predicted charges are compared with actual billed charges
to identify inconsistencies and improve cost transparency.

import pandas as pd

df = pd.read_csv('../data/courier_data.csv')
df.head()

In [8]:
df.shape

(124, 6)

In [9]:
df.info

<bound method DataFrame.info of      shipment_weight  origin_pincode  destination_pincode delivery_zone  \
0               1.30          121003               507101             d
1               1.00          121003               486886             d
2               2.50          121003               532484             d
3               1.00          121003               143001             b
4               0.15          121003               515591             d
..               ...             ...                  ...           ...
119             0.73          121003               325207             d
120             0.50          121003               303702             d
121             0.50          121003               313301             d
122             0.50          121003               173212             b
123             0.50          121003               302020             d

               shipment_type  actual_charge
0            Forward charges          135.0
1            Forward charges           90.2
2            Forward charges          224.6
3            Forward charges           61.3
4            Forward charges           45.4
..                       ...            ...
119          Forward charges           90.2
120  Forward and RTO charges           86.7
121          Forward charges           45.4
122          Forward charges           33.0
123          Forward charges           45.4

[124 rows x 6 columns]>

In [10]:
df.describe()

       shipment_weight  origin_pincode  destination_pincode  actual_charge
count       124.000000           124.0           124.000000     124.000000
mean          0.956048        121003.0        365488.072581     110.066129
std           0.662815             0.0        152156.322130      64.060832
min           0.150000        121003.0        140301.000000      33.000000
25%           0.667500        121003.0        302017.000000      86.700000
50%           0.725000        121003.0        321304.500000      90.200000
75%           1.100000        121003.0        405102.250000     135.000000
max           4.130000        121003.0        845438.000000     403.800000

In [11]:
df.isnull().sum()

shipment_weight        0
origin_pincode         0
destination_pincode    0
delivery_zone          0
shipment_type          0
actual_charge          0
dtype: int64

## Dataset Understanding

The dataset consists of B2B courier shipment information including shipment weight,
origin and destination pincodes, delivery zone, shipment type, and actual billing amount.
Initial exploration was performed to understand the dataset structure, data types,
statistical distribution, and missing values prior to preprocessing.